body {
    background-image: url('https://media.giphy.com/media/jaOXKCxtBPLieRLI0c/giphy.gif');
    background-size: border;
    width: 800px;
    height: 1000px;
    

  
    margin-left: auto;
    margin-right: auto;


   
  
    border-color: #7c7c7c;
    
 

   
}

div{
    background-color: whitesmoke;

}
.Internet{
    list-style-type: none;
}

.Internet nr1{
    list-style-type: none;
}


.Kommunikation{
    list-style-type: none;
}

.E-post{
    list-style-type: none;
}
.wifi{
    list-style-type: none;
}

.Syftet{
    list-style-type: none;

}

.Med{
    list-style-type: none;
}

.Mosaic{
    list-style-type: none;
}

.Det{
    list-style-type: none;
}

.Napster{
    list-style-type: none;
}

.Youtube{
    list-style-type: none;
}

.Förstaviodeo{
    list-style-type: none;
}

.GDPR{
    list-style-type: none;
}

.säkerhet{
    list-style-type: none;
}


.Memes{
    list-style-type: none;
}

.Datorspel{
    list-style-type: none;
}

.spel{
    list-style-type: none;
}

.Porr{
    list-style-type: none;
}

h1{
    text-align: center;
    
}

a {
    color:red
    
}

.reza{
    font-size: 20px;
    font-style: Roboto;
}

.reza1{
    font-size: 20px;
    font-style: Roboto;
}




